body {
  font-family: sans-serif;
  font-size: 12px;
  margin: 0;
  overflow: hidden;
}

.main-wrapper {
  height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.logo-n-search {
  display: flex;
  padding: 50px;
}

.logo {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAARYAAAA8CAMAAACU02WZAAAAA3NCSVQICAjb4U/gAAAAM1BMVEUAAAD///////////////////////////////////////////////////////////////+3leKCAAAAEHRSTlMAR2N4iZilsbzFz9jg6fD4QJ3ENQAABb9JREFUeNrtWl2zpCgMBQkSMcD5/792H1QMKN6Z2r1dXVvm6Y7dQ44n36GNeeWVV1555ZVXXnnl/ySOyL4sGGM8bxJoZikAIF+HcKbAy8IiIrIQ0fT7ShMu8l2syBUghH5bqw2rUheZZ/ddtEzxQFfCZKZ5g7v8fqzbXTF/bcZbAAB++9cMAEgf0MsAAPpWWowtGp8viqTfFPpyWkxs8DkAiB9QCwD5i+vlDAChqRPpQ7SUL+5YqKUlfqhgAgDmL24z25LAn6SFv5cWbs3mP0OL/XZaqC0J9CFayh/R8ncD0zT9x7Sc3hKaCmGJ/mULOg0OEABYH5nbJiZhX6lZC5KwcmzZGnVnjDFzAkpGEhEBUsunm3TSyICIeGOMWUQWZrq329JUormdXPS3g8qSjyC3ZzEByDG4v6cllBNBnPS0EpuW8HB2100xO9AVgEg5LT/VkcfV/gnl3m5Rp5ZsjDEVVFaeTgmw3Uh1D7IFAOT5jpYwdpUVwOopcAKAcrThGQDWDYMT5Fxj0e6T1kJR8mnpLVqxKlVbz7rztB1wE6pFBbkrx/cnmouCcBYt9X4PIHftmclzLNriSutDlxuBvH9KGajWsAIA2aoUcBxsU7WSzee2Il7d0qkT51PRtVTur0JFew73DS/1afIBpJnOqdMuaAK1Fmh66jFtozY2fEb1WaV7UoNLKFG3q10utrlSRSiTeaLFbQN/28LwhZZ8NfodSJs0EXLBJk+0zK1mAU7wsSntpOhz9cimft2ljqV+dcE0XgvFQ51et1xoYVwGyRFIm5reni7u8kSLLdpZdoOTbqxqLJOqCLXVoGZ8uV3/yfE0DwbAaUdsQ5zb5Rz1tKyIqYurEUjuaMg9OHnoW3znlLY01HNULqo94cgYoXGPdNeITXvwh/zUb/pRR9PUCrAxuY3FEcjUTTzcT4b5gZa1H1dZBcIMv/noxrpIS7U1JrQWue9PGUAw07hHyCN81Ln5fKNzANJduO7r8VPzL5duSaUmButtiKYl9U3LAy1mBYpnuKeN7jqaljQtKW1caasPQF5qlildWfuJFhkNKAzec1pxxpgk3Zno7xLk/mphwrU8PoLQIU76HNlPCx0tV5B0Sai9lp9oySNa/Pa/DpXC7ZmRrCs9LRiVmoepbHhT0wVR2KDmJu4HIOmyTbmlhW5a/rIDdj0ttmazWmMLGY7X5OoaHkZ7NX7c+NBgJtiSMXURnwVN8RyA9JfWUnBNhFdbRSDvBXnuMKb693KW7bJot6o1J5afCvRdFbjZfIwI8/r4zJF9+34jkLmPA+ly8C0ttHnJVLrPdE3k+pL7EGSvydVOraY82r/JD3uy2xm2ATcfGbPpA0Ygl/5Q0UPCIIh82YH2Y0dQrjef77J2h6RmWX8EdPOdkJomMf9Ai/2JFluKAkM/guy7/dJmi+naMG/hvNapz+ke4myW6Iz4bTiky1JkH3rjeao/qfjD9ew8rAmkbRbq+zczwRDk3CaXuc0stLUYxffPiquz3Bn38Xi8p62T3KKTkDvv/qzUD4IqKUFnUX66EnNlePcctBvl+pKknW8MsvG1ajtjPO+/U9j2MJJSXpl5zdAdn8tAdvUV56YNoyY/7LiOC9yFmKVSYX0GgOwnIi/abGvBViaulDDrW3L2N+vW7dm0nqnB67XSCOSeXo58XM4lIh6lxoqNBYWJAmflK14SgBTr3miunnD5nUFotmm7rNrkuPeXy0kqnMNuPgB+H52LTMfqafOEB5DGGOMTIJ48R51AMwCUyMwzMccEAFIAlL6N8FukiW9cRUQ0fTW5aQNLOTQuUpBl4VVkYRZxdZ2akUTK4ZKNXgFQhGcWkXY9qYxa3KEyWWPmjCwFEPcI8jQ5gMKT3nl363xL1hgi6tYk+4b9dkOuJ/267nfW/P06/m/vCixRdzEx1HkLsgYWvb8Ce+WVV1555ZVXXnnllVdeeeWVV175RfkHD3WBlN4n9vUAAAAASUVORK5CYII=');
  background-size: contain;
  width: 278px;
  background-repeat: no-repeat;
}

.search {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAABHNCSVQICAgIfAhkiAAAAS9JREFUOI2t07FK3EEUxeEzG30CJZoiYiUYsLT3BQQrFUkCsbGxM6RIENFCK4WQt9Fn0E5tFE0XQkxKEcTPwhE26+p/BW8558yPO/eeKWkrDCRZSTKZZCJJf5KDJPtJdkopv9NUmMYFfuIH3mMKSzjFP8w2QRbc1Qb6u+h9VYNPj0GGcImNHrr+hiu87SZu4QSvegC1cISdbuIhVpsgbf4vOOk8byUZS3LUKyjJcZIRlE7QVRLPAEmSUsp/d1pJzpO8ewZovN7pwLNZc9JqbOVu2MfY7ia+qetf7wH0ta5/+DHDfSC3ngjk2pOBbDPP4A/O67eYwiy+4wx/MVO9DwPZARusM9vFr/r39mqnr6tnpD5vvmkUjYU5XOPjS8A+4OalYMsVtlia7Y2wz0lGbwFayUCIO+Et1AAAAABJRU5ErkJggg==);
  background-position: left center;
  height: 50px;
  border-bottom: 1px solid #666;
  padding-left: 26px;
  max-width: 460px;
  margin-left: 27px;
  flex: 1;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}

.address-complete {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAJAAAAASCAMAAACD4KdZAAAAA3NCSVQICAjb4U/gAAACo1BMVEUAAAD////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////9/f39/f39/f39/f39/f39/f39/f3////9/f39/f39/f39/f39/f39/f39/f39/f39/f39/f39/f39/f39/f39/f39/f39/f39/f39/f39/f39/f3////9/f39/f39/f39/f39/f39/f39/f39/f39/f3////+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7////8/Pz8/Pz8/Pz8/Pz8/Pz8/Pz8/Pz8/Pz8/Pz////9/f39/f39/f39/f39/f39/f39/f39/f39/f39/f39/f39/f39/f39/f39/f39/f39/f39/f39/f39/f39/f39/f39/f39/f39/f39/f39/f39/f39/f39/f39/f39/f39/f3////9/f39/f39/f39/f39/f39/f39/f39/f39/f39/f39/f39/f39/f3///+pjr+pAAAA4HRSTlMAAQIDBAUGBwgJCwwNDg8QERITFBUWFxgZGxwdHiAhIyUmJygqKywtLi8wMjM0NTY3ODk6Oz0+P0FERUZHSEpLTE1QUVJTVVZXWFlaW1xdXl9gYWJjZGVmaGlqa2xtbnFyc3V2d3h5ent8f4GCg4SFhoeIiYqLjI2Oj5CRkpOVlpeYmpucnZ6goaKjpKWmp6ipqqusra6vsLGys7S1tre4ubq8vb6/wMHCw8TGx8jJy8zNzs/Q0dLU1dbX2Nna3N3e3+Dh4uPk5ebn6Onq6+zt7u/w8fL09fb3+Pn6+/z9/oG9hm4AAAQUSURBVEjHzZX9W81nHMdf3xMVohWGxCiGQzi0qNlDJIV52GxGGyYLNTMxmc0YWam2KMI8TpzCtIp5mocTM9NKmrNIzjnvP2U/fB3X0VzXuK7s8vnlft+f+319P6/re9/354ZnFqPWHa3es+AFnpMI2SFJUsP4/7QWy9omJTPWmuOuWY9ZDD6tS2/3Do76xrPkfwMqtpvjzU8fs5insiAAIngugPrL+eKTf6g1UFAPA4B2vTr92905zM8Ugf5A5zALAEavIF+gkNbVU7Xpkbll2t7qHfGPKmPK3hNZ4zKHmUADsyv2JxlA4Zc5Ll2IAcuSRrm3d2ftYeDwzxbYuY7Q7R7VzYbCNZtc5XQt8ejPd4A4h1ybS7xA6w5KlQNZdL4TGEc2AmzWHIDUnJycnJzJ+BXJfV36Ah9l5Mpdp/uaSbGsxDbrjyYtB+yu8rjYw3ciyXAvs82orW6fpD5ESjZC3VMt5VcTbFmagL3pyIxhluM1E2xr9SZD7h0cG3fU5QVyFUTHn6kN7eueDdEaZwLNBTgkSdrIbFWGEenQaz5qqk72xtZoArX/3ZVoBF9WFNhrO0KHa9md7mYCMZoY1JzCkqrq1Uxp6TJW0cD+MuxXAyBOI4HSUvIvB0BQvRfomAFhLYvZ8YvBlnOGuWXfAgyw2Wyf6HPKFQUkqMBHHdIIIM0EGqOtXVMdqnkd7IUAm0+PlA0wGjLZvY+Ti5deMQr2kSq3y+XSLexFwGJzVseF9QBFXqA0gJ92EqPo0Ob3Aeinpl4P71sSDgUC/VTmoy4qEIg3gZJ0tdmz5w0/wL4dIK9qqGIAi3MZM5oHK2KAbA3vssA1zGq1Wgeb2KktQ61Wq3UQZ7MBdnmB0gGqizCqCuY3djSTuTph9uh4d31HyjQCSFSejyrVcOBjE2i0Wlb0wfAD7M6e0P1Wln9DrgGTFEvI/aNn4Hy5uzvDlQSkPAAapYlAystsqAuBsL+9QOcCwepJgWktV1Y++C9dTunaBxE9R3/tViLM0qm+DPlNcT5quqrDsd0ygfwuao4lYPmJfmB3OuZ9eKm2B7NUPDOz+QcDflQGLJcdKLy7Ynq+kk0go+jOZ9PzNYnwm7/OnVdz2wv0V8V7i+rPdICAG67wh616q/l0OJMBS4E89dJKX2XkyVOvlge3bHijbjfJEQ727z5yNJa8BCRUOB3LAoGEAwNg0IFkwD/9clNVIqxKA/DPcDRVJQKRe501C+evMktvS8660ZDbDaB0m0/vicoqrdi9sJvZtyaVVHz/ais1ec/xlWmaxqrKCAhbfcyeHoz3ULdNDFb0k5vbje8PrNcrrfJtCbSl0nhy83idjeoy5d51/2cHFH7/radwG2sk6U5s63zW0jYDCujq91T+MV/lp/dpnfwHEgLals5BTGQAAAAASUVORK5CYII=);
  background-position: right center;
  background-repeat: no-repeat;
  flex: 1;
}

.address-input {
  background: none;
  border: none;
  outline: none;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  &::placeholder {
    color: #eee;
  }
}

.footer {
  background-image: linear-gradient(to bottom, #00000000, #000000FF);
}

.header {
  background-image: linear-gradient(to bottom, #000000FF, #00000000);
  height: 170px;
}

.slides {
  position: absolute;
  top:0;left:0;right:0;bottom:0;z-index:-1;
}

.slide-wrapper{
  width: 100%;
  height: 100%;
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width 920px) {
  .logo-n-search {
    flex-flow: column;
  }
  .logo {
    height: 50px;
    margin-bottom: 20px;
  }
  .search {
    margin-left: 0;
  }
}
