a {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: sans-serif;
  font-size: 12px;
  margin: 0;
  overflow: hidden;
  background: #000;
}

.app-wrapper {
  height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.logo-n-search {
  display: flex;
  padding: 50px;
}

.logo {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAioAAAB4CAMAAADrNylUAAAAAXNSR0IArs4c6QAAAwBQTFRFAAAA////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////Bz0LCAAAAP90Uk5TAAECAwQFBgcICQoLDA0ODxAREhMUFRYXGBkaGxwdHh8gISIjJCUmJygpKissLS4vMDEyMzQ1Njc4OTo7PD0+P0BBQkNERUZHSElKS0xNTk9QUVJTVFVWV1hZWltcXV5fYGFiY2RlZmdoaWprbG1ub3BxcnN0dXZ3eHl6e3x9fn+AgYKDhIWGh4iJiouMjY6PkJGSk5SVlpeYmZqbnJ2en6ChoqOkpaanqKmqq6ytrq+wsbKztLW2t7i5uru8vb6/wMHCw8TFxsfIycrLzM3Oz9DR0tPU1dbX2Nna29zd3t/g4eLj5OXm5+jp6uvs7e7v8PHy8/T19vf4+fr7/P3+6wjZNQAAFb9JREFUeNrtXXl8Tccevze7LGJrSCWhEsFDUPqEF9XG2keqSheevBBLaaitXtVeTbVKUVtiaygarSBo7M9DohRp7EKDICRCpBJkvfe8e885M2fOOTNnS98f8ub7Tz45M2eZ3/zmN791rslEQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB8X8Op5ComNHR/dvXoqSgEOBas24D37pezvy/js3fWZD2jOFQeaAvJZBGMjbu1M5kbvp2TOzS+O9WLZ07urdn9RncmMPXTt94VM5zBVP64PDM+D0XSxgRrI0pF5BQs93E1KePz+1cvuHAhQI7sW49QklXdmTbptWLxvd6/lnGfI/Rgg6UJUjYoYmAzLMtYc/7SIeWaRhniQdlCRLGM1qxq+VzPtQ2G58pja/8fnrijL9QjiDL5dlFOLqlT+0cGho6OO6CVbhWOdfpOR+s55txOXKBeTZ5Xv/AFzwpL6iizuzTFRLqHWwOW2svRK4fb/T8D7fnadFQLdE1KAvogEf4J3sQ8hW6o40jEUa60/D5H6zzcpRV/kNnXzeSBfJtF7d0/0NoOutVDYY6DGGVpXTmdeMVgXxJkqaWt4S2sdVBP7srjGcWnXn9uEZkFZP/Vdh2tDoMdaXAKqPoxOvHXDKrmHyuQzWwTjUY6rsCq/SiE68fLyuwiqktNJrfqgZDbQOHmu9GJ14/HKD2+jOm9TxoXFwNhuoOWWULnXcjSIG+Now7Kg40HqsOQy0GozlHp90IZsCgq6u8cQhofFQdhiqYQM3pvBvAAEC+NExje0jcF6qVtfclnXcDeAOQ7xamsRYkbotqMNTLcDQ36bwbwAJIPx9MawFo7FwNhnpRsJZpkqQBQCMnzxHTugW0dqkGQ70gsEp9OvH6cRZQbxmuNRq0vlINhnpFiCw70onXj32KXrY5oDXw+R9pqCBU7tN5N4DvAPmm4FoTQaJyNUgpFBzTTCaddwOIVXRhplcnk+GckCZZZc9+nYhJ86JCHBR6eJAb3Vy4v64N7JCr2K0jwnB6dyv926ZTYEibZvUc/hz6fQjI9zumsS6ogvhO2uJYNyhiVmxs7MQujYx8SBXoiMCh7fA5U3tpDmWmCGKlKgadd4c3Rp/iomP5GyKDzbg+gxectJRn7f5y1LuYvN3FFdb76TuWLf/5CSexL6StQIXfYnv2h+VKysG7ZZlbZ46KjBo/e/H6lFPZT5mjenPM+hZy3tV9Z0ufnVo1evy3m+cKj6gxNHrS+k91KKEwY8XqLW+cCTy5bbj/+6X8npV1I/vOvT+Q7Nt9xJkcjR9aFegooFnX/nFcRYrllxnhmnKv1grfHGOcU3o+EOeZPkr5VFYb4iuQp1Lm7nMpl2c1vwwXyjKlpPFrkhX2l1Y+UNIEh/cN9ycZsAIugDYf3qB5fOV0etblv2oZ+n7wkNdkTa55fNNw7n+/J7jvLyA8uP5PTHETzHXjdBRQc6O4i+VC3GBVX8lXQv9/GmWUNodxJLj+eW1RL2ckjYqZJt27MA/oDhonKBdQDJANyPLg8qlj+5N33GY31nfErxoqf8JB0PYv0eVSPw2DTwC9e8uaRvItl/n/Q7Cf/xP+uZ/YN69tmAbjdIRPmFaI6Va2u4fySKcKfQ26iRynlxPmsGCcaCOKeIzULo6R7Oryu62+oPG0MqskiJ60RNY+Q/LB4Tut4g55UPDMEl1PNGsY/ibQW7ZbBIEJ2QyUpDPyj0+OwL3EPDyVbX2C0x8N05FHy99IlNzTVGmkHwlryJha2/A4eMCJ+PjVxx88ROvRloroELAKaVvpLGL036WfbRESUgdIStxupRytRP4VR/jNCeLOpRvliu8rd0TLSVDSXkCWW4qm/cf0b9C/gVT1BN7NshD4bd0mzzuBvrpiOP6hUI6+gWs1SkcOo0v5lqL18fE/3niISpj7StVfQgzjtCFO6Z7P0yMRiC/PMUIIkjk1UrzQ9gtNh0R6YMCs/Zl3Tm6EHsHz6ET1RXnljz52Bo38ZD4orXgmVlY87iN0WhCAtRXqHWfwSdJjYUVGV40EyCSwivlHQhJ2U8FBvoVU7Asp+C2+3SAdbXAHUjBzel1gM2wUtoXHmxsQRyrIxF1GOKU+n+9yAnVHOvS7IUyseKrMcwThfwljaHhynJc8SbRWTP2RspohcOfbhY/wxwt9PyJ9t+smQaigr3Lhyy4zG2ulQDGeVerDyfxcekcgMKHjiQ+FVsIOQgeDdDSZvuZl7QR0XhoiVT6TSd/kIvRZbYRV1nFydI6k2rLeUfjY9yR39BZqOB9g7MuDWDcEUoWCeArdlnKXgsR9o2Df/QpfPsWCFfKH2O19tuYKSy8Gyyo98xRyJYHMaKbOKhnELsboGMTtPudbS64PKYUpbs6kN96pUr5KOMvb5R3lajospip8kWAX2AWwfHfYTKDhr+CeWPRqyDKrPCmrOXx+J6Vv7weoc7secpXNcZypnQLOlRhW8VsF1/xnmHty+ZVtUmcVjF1VFTo6sSuB2SrP2AuFK2c+6YUn4fvmGlBUiokhgbfgc9+WCrJiYYxrZOq/fff4DfO8jwnuiz43ni2R9s3Q5k7/BlohEjfJWrMOGlwXs4p375m7cuH4nkSbyKxSomFXY44Q+xigY41tXPf3MY+DIfLzqh4kAyVjg/gVFYEzocF8MSelrsBERKUcL73PvqpzMM9bRKxBkc/rQG2Z5SMxS9epSG5ca3TBsVXsLxWg1sf2ICVJTmYV1DvShthLNx09edGchrN134amwPuE90E9nfmXXk4JK1NSvWAmIfONpKU/ap35YoZYhDlnAlaSfwBdCKNnEA4vaYzbqzCq7QHwzCtwf+5iMwL0VRjDY3nYE9EaCD4Py7Z2yqYEeQMKQyj0GbGXXjqa+SCOtS32cXCLtxD8tqsM+/VdQKFlR7xnDip2y6UBLdRlJ5U59iHuVGLpnoiv7Uk97Ksb8V0/VhmBGzRboZ9yGcP8oIsKtZ+IQ2iNv7ftC4+Sls8d+xLxHt5EqyCevDIXIRC5kkIvHYG6vxf/uBj4LDxVgfGEVZc1BsoI1sK3oF0Wr7oqCuGI195i3A1oAKIJquO/g31zgJrdB6OQFeIgjcnjIXO+ri4q9IaH07iAGXyli8rpO9P5W4i+0XMMkz+lYRQntclHmeikI4gML8Q/zadCpbxgGnzXbzpZpTNw3xPSAGAqzK/SFts3X5yZDZMfRIs/wnZlEeZpQP+AS7FGEdFqM9/XerbDXIlK/xXztJ4+KrRW1z9l4APOFd6E9gYMU2z360STMzEN0NFhL99xIuFxuxRdxCbTOOEUEH008gZ6/nrV6EgHeYTtHZOvUCuwULJNz1bYVLLABdZrNBpPal6J2q06CFfeD17K+WYjrMxGnQvGDRiZqdrv+YJcOQQkFeu3M3Mb5OukfvroCEOhJO9iyzKFmlpUsOtllVeJ3kgAfyDRpLv/bwwTaRN4l+CrkUiIwxVCmupjkVfNcQ0bxaiN95jwj72oPopefNczrIf1AaI16zWW72m/hY9obiK1/8xUcpZ3JNuPyL366AjC/1aijw3orVZ89WCyUVYZoh4QAHtpidg487ddmm7fHOFeW4KkVKQScpb5WEuWva7AHMy5ktbi3wuC/UUahpGA5EnbDHKr7hMhd4NBuOu9hcQqneCCcGc9ecUEZVAnHbMU8ld45wfoMdukMAP6WQXmH5OXEzQwxG7kQKBxBdyG3nqBma5gwvn8dc6Uy8nKLlU2JFuAkJ+GYbjykd79tdii3A26nUvzwRhCNN9yT5lVtgi2W56SJaePjo3UD9KBRbXbsM15RlkFWq+FxDzP/+D1JPsQ13Au+Adyb/JDhsHZII4lmPyK/eTlpk1XsXfmnWb3hnVlmOyaulllBCnYRYTDM0VW8S4Xtg4u8/leLSKraKdjC0g1klpr6ko0RFjcMsoq68F9ZEVwMegi9v/5wSGa2gOPVSVI1XKwyVwPBbVWhAoX/ItzFeotZJiCPLCj/uAGzIaao/mWndwN6/Ct7yFFRUlcz0XYjvro2JhRrUnyVi7eyDLKKgmKZXWoUYjkDbCoiWgZnfPBvjJZWA0467sdNm3rRZJeyOITTQMR/AnMNf2cYtqm/4Ca6UoMwAb6AKtM5HrmYINS+ugorDWi48hcKTUzRbhslFUS1c/Ei8Gzip3hoUIacFlSc5XGVCh6aSzzxix41bvbGYwSBLFWSTvDuSeAy9MAq8C0s716WQUfdPOwC4h3JQsE64rXR8dmcJRE4xsGtLGs4ijELH7V6M/nxRqswCw0q2rUg8XXixgmEf7TFgZIudD/OrzhEgR68a4U7zOkQKUJRkk1bglDq8Iq7hZZLrcqJijlXbFfc8hc+2W72uTwSGkr1UXHUHVdBZqsWOkq7GDkPAWRHZpcwqR7of4EBePrPYIKcEfk5XkdJjgmOrGqwzOcnuxulcym/wNiOlYP/nmfapu5upVVOIerA6PfXcs7c6IUdEDbvFsy4mL3ligdP62LjpEa0h2vKAnIYEbpiESZyJvB7ut1kG3UhqlqxkGZJIxxSTwp9bajao9NOmNzgR9Kc/XsgdVfsO+dqpYuKQH0ja/TzypvMkrHNimGPAYpuvTEWffYo3x00bEmTGIrIvrgcpRSl+ohZV6qPzHhyink+dxG9BDc+COp/ySQyi+5niFJBDTDSOpYt8kVhOWWIwtTbyM5AICONFCjbx5IFYuBoy3CDexegxXE+ItIDvmOFdA+/R7XVx8dJ6sfIVWkdC6tGQlk+6oN8RuR4wvWJR4n9Z9DyEKwqRJF4k0G1g2wn7MK96FlMtkXwjAfYt8LTjUJ1ah9PdYtF3AbkPZzFxco2AOsJE4fFhLUaZBNl3UczJdeWLvhVTIddPRnZCkXUhpbFUPLtwUmVpMqYZwGl+Eq0URukW7gM9fKJHZKfQuaS8DCMxsVt5cUxB+yds2r8bs93Ja11sBNwdaeaYNgWNzWfM8hPpsS4xRwtG0qFROQC20riSkieukICz6GEb6rJtB1TCqOfbWDHRpwBZAPGwNFEySeVzgou16m4FRpSazlNfS3rHDWso+OYz2jFUo8HTDzE2FcVTH5Cnm0mu8BWzdGJ/vAdnkEzp1+k2CS6KDjSLXUWN71codwNoIQllTJ/qqfIX1PA6uyI8xm2rPVjVJj2sN+tZXk4uuo4x4TH3O0Eor47Ew7eME49H9wkIXFX9732FX5OWYLq1AJ5SF8tdYjGRyBz6+9fCR5sozYa8Q8KN10XKlSxtOdYzDCDy46F6uXV7FoAzSsKPnmNYZghLIbZkmArOEJLrs4AqktxZWV55GKtU1t7dT0wLnq5Zvyp7hCrXSC+q0FTgyxNIGII0TemiwvKJzPEE1rvXQE0vamu5LCsILw1Z0wVXs4NIH2DrKRRvHup/t1FZySsXh7UB7eFJKsZEvFrpg8lr+fNz3t8b5KNBo0j5jONQ3navQCXrSrBlhloPDVcVrv+ZJXVWWxyRp58kPlfMiKlF461jojctJJUYsNDhSS0gCRH3m55qowuu+h8oumvQzjd4WzOF4JYrfNQ854Tw8m1WQF/JQwBQeQVHq+9odsK4f5EQtwJtl24oZQqP8XKVsiv3dp/cpV202fEU684IqnXsZbz7l/Ah1r82cgWEfiPms1u/30JOyaK1GF+Ri5svn9Cnz8dBQ5L7cG613PwEX1C/COUUcYKxhKdIbb1GqR2O7E37MS3RPy8UevOC0kVIZCr1ekXk5peEPkKcvUVhMP8jceS3Uye7XJM4ne7VBAjHrrp2MdPoXI+hbB22PFG5VuUelin2DuSGxQ39xROGpH6vLgEzatsrhdDTa6exV3RLQLKe3IM5VY1N0F1tSivmzPebxYswbL/eZScznwpKSQCJIWlnnleOvjFL+rUrfqdg2/ORwEfVndcJuZVEKv4TsfcPkT6Oh7nWQc9ijFbu8mr5aDv07FJAvdWTnqi12zxu/JX/Fm52CbODX7ho9NELKfmHyZqcmnFBfGiFuC2eSGJ82Ifm2she15jC+UkOhddRahv1TLOmHN/u0HnijHqQleyIE3f0M2S16BTxYbZI6h09KQ4l/thxA6+/WIw1DQkti7Qzvln5bdTThzKewp1lUKU1ozBjpWkY52pZP37+8JFl+PtWAyUAedul2i7XfqT1+U/nL3vzHuRX6+UtCapaasGz43HOvo4VK7sDV84JesRN4C8zTxD2BXpicdzhQN4TYkiWv47CykoWj1P8K6DprwRXwSEKA5osxt9/l54gHuC9LEJttKK5Uod0PpKUhR4G0/h+bgV5ibruUJeVn0hXWQY7WYrGHOVaAj7+L4hXcDvSm3szZKBFc+Yxw4R3oYL9MuQbvNYQTrjt4tz6dvMn7JEj5DYMmHfw+Sr4hpGNV9kepnwYzYRjlqXfuIXndc1v707xpYJVbtLQUE34RXp8hN6NmBFttavGpfUDVWW4Sbj3wHQhK9fioVP3htFegIVlMcJ6ItcyBjBLKCrmiApKd/FTjlKbaYwqHvXlZlqNz3xYh/TNp/K4eLhp+U57HMkz5Pnjm2RjZEh4eq3zVK6nwjz6FIhrdgFI4Q1KCXkoFPMIkvxfW1nyq4QXKEH6ewdLZK+14yTkdEGf+Myyi9uW7SkOglV+5mc/JMtkjcRKI7N5vFzfipm9U5pbIfiXZeA4slwx8TIleRzbLDOC0yU9pxs4xV7qp9VxKc/9YF+B6/W7FT2KhM3jVei4ksNnwqLu7KlpwaiY11NMV/nD3kkiu+9IjLvH9XlowQaZyOopkI3iY5MS+hOyZa/LnAJz+gcrK+n59fi4lxB65z8qn4+K5Ufve8e5xVuDLeUKDeix/ugL/4aE3pRnAoHLpxN/PEns0rly/fk0+oYzNPLWGeiEKb3exSqtLe/xFkyKJzW5csSs60aQxlOQmIO6Te1J0HU9PS0lIP7/6mY0BAq4+3JiUlrWtrquXnFzxu6xbpeatOTYYnFTJlGfGTJkyYf8Q23Lylms5BMPdYezT7aUV5duoPX0W1s7tTmn2UvGbMtB8zK0ofnFpHiFM6X0KPtMvKfmRXeEo2282uEaj8yP+Z38vNgw7cL8/9NWnd4Vu2dmvmimZVoaNkBAvPC0dsTid0jN6QEPfl5H++SkrHdQrsOWpIM/v24TM8xoYhbibHVpFvtVY7oMYpdMik+QmJiWs1VcSYO44b9Vesz8tvuMRb7dIz+lUPk9+AMAeTd6ANLwUAh4Srv+aTuMif3RgsSa9efzOb/pdw7j4iJua9DuwYWLnj3sCfF74vDfsosk+n5j5ufd7HHqHg1qp1rarSUabh9vtg1vIfEhPHu5ooKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKKT4Ly7+OYIcW8jyAAAAAElFTkSuQmCC');
  background-size: contain;
  width: 278px;
  background-repeat: no-repeat;
}

.search {
  position: relative;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAABHNCSVQICAgIfAhkiAAAAS9JREFUOI2t07FK3EEUxeEzG30CJZoiYiUYsLT3BQQrFUkCsbGxM6RIENFCK4WQt9Fn0E5tFE0XQkxKEcTPwhE26+p/BW8558yPO/eeKWkrDCRZSTKZZCJJf5KDJPtJdkopv9NUmMYFfuIH3mMKSzjFP8w2QRbc1Qb6u+h9VYNPj0GGcImNHrr+hiu87SZu4QSvegC1cISdbuIhVpsgbf4vOOk8byUZS3LUKyjJcZIRlE7QVRLPAEmSUsp/d1pJzpO8ewZovN7pwLNZc9JqbOVu2MfY7ia+qetf7wH0ta5/+DHDfSC3ngjk2pOBbDPP4A/O67eYwiy+4wx/MVO9DwPZARusM9vFr/r39mqnr6tnpD5vvmkUjYU5XOPjS8A+4OalYMsVtlia7Y2wz0lGbwFayUCIO+Et1AAAAABJRU5ErkJggg==);
  background-position: left center;
  height: 50px;
  border-bottom: 1px solid #666;
  padding-left: 26px;
  min-width: 460px;
  margin-left: 27px;
  flex: 1;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}

.address-complete {
  flex: 1;
}

.address-input {
  background: none;
  border: none;
  outline: none;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  &::placeholder {
    color: #eeeeeeaa;
  }
}

.header-gradient {
  background-image: linear-gradient(to bottom, #000000FF, #00000000);
  height: 170px;
  z-index: 1;
}

.cursor-pointer {
  cursor: pointer;
}

.hidden {
  display: none;
}

.hidden-v {
  visibility: hidden;
}

.popup {
  position: absolute;
  right: 50px;
  bottom: 80px;
  padding: 30px;
  background: #000000aa;
  box-shadow: 0 0 10px;
  width: 300px;
}

.form-field-title {
  color: #fff;
}

.form-field-input {
  background: none;
  border:none;
  border-bottom: 1px solid #fff;
  width: 100%;
  color: #fff;
  outline: none;
  margin-top: 6px;
  font-size: 16px;
  margin-bottom: 10px;
  padding-bottom: 5px;
}

.submit-a-piano {
  .uploadcare--widget__button {
    border-radius: 0;
    background: none;
    border: 1px solid #fff;
    margin-top: 10px;
  }
  .button-submit {
    margin-top: 20px;
    font-size: 14px;
    padding: 4px 20px;
  }
}


// Overwrite Uploadcare's Looking
.uploadcare--button,
.uploadcare--dialog__container {
  border-radius: 0;
}

#map-container {
  width: 490px;
  height: 500px;
  position: absolute;
  top: -500px;
  left: 0;
  #map {
    height: 100%;
  }
}

.footer-gradient {
  background-image: linear-gradient(to bottom, #00000000, #000000FF);
  height: 150px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.logo-n-search-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
}

.slides {
  position: absolute;
  top:0;left:0;right:0;bottom:0;
  display: flex;
}

.slide-wrapper{
  min-width: 100vw;
  height: 100%;
  position: relative;
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.slide-info {
  color: #fff;
  font-size: 14px;
  display: flex;
  flex-flow: column;
  align-items: flex-end;
  position: absolute;
  padding: 50px;
  right: 0;
  bottom: 0;
  line-height: 30px;
  text-align: right;

}

.location-desc {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAPCAQAAAB66ObCAAAAAXNSR0IArs4c6QAAANpJREFUGBltwbErRAEAwOFfXchgw1skm83dQLpyMZMbLtMNbrFdUW5judQNEgbZlMWkyKCu+xPsLFI3qLvBq6eIx/Lj0V2XfB8JR9zzTY09MqDDtKHX5l1wyXMjZ0gYGLpFlxtGjgPu2gBTrntlxT7wwmPAewvgoQ9WvfUEzNkGfHECfLQILvsMjqopnOSbNx6AO96B00aAi5bAWVtqaA7c9wxwyicHwX4zDoBjvpsl4aU1uqx7yi+HbVvkhxWbDtHhnLHz4Jofpunlpq9uG7vCX5b9dJX/GNDjC0IPlbZ5nNnsAAAAAElFTkSuQmCC');
  font-size: 16px;
}

.icon-left {
  padding-left: 20px;
  background-repeat: no-repeat;
  background-position: left center;
}

.credit-submitter {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAKCAYAAABi8KSDAAAAAXNSR0IArs4c6QAAARBJREFUGBllUD1LA1EQnH2nOfD+gJWdgk2KhCT3RNTG3sIqBOwCgpWCla0KCtb+ArHQUiwt8/0DrBTERrQNBO6yzosuHORgb2dm5z3mrSggSNNLANsQiTCdPiPLblAqvUB1TP2L2on0+28O3l9Q+JRu1yOON3hghcaWdDoVaps8cAvn7ukBNE2fZuD/p9Xq0pzm/Z3WasuOnrxoltFozBjHRY04Yy0G87vW62vFoQyHr8a1XE4YZVUGgw+HPL9GFJ3bcK4nyRm1sIC/TxuNfVbbuHVmP2A9Gg8xIL3eA1+8rt7v2YC4SXzI7bRMEwOh85ZTDr+ZMSY94n63uN8f88xuNsK9XtGwQL6LyWSnaAyeX/n0XP4CmlLSAAAAAElFTkSuQmCC');
  width: fit-content;
}

.listing-control {
  display: flex;
  color: #C1C2C3;
}

.submit-piano {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAAXNSR0IArs4c6QAAAGJJREFUGBljYEAC////VwXi2UDMhiTMwITMAbIlgVgCiPmQxdEVIcvB2SxAo8WBPDGoiCyU1gCKf4SyHzACOX1AjipUABt1GEUQqMEOiDcDsQiyBFFuIkvRDaA1u4H4HbJ1ACmiIzlvCtEzAAAAAElFTkSuQmCC');
  margin-right: 20px;
}

.update-piano {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAQAAAD8fJRsAAAAAXNSR0IArs4c6QAAAKZJREFUGBlVwTFLAnEcANDffhyKEAhGiC4F4uIg+F9aWhsapc/QFA0tbS5R6iniUYkfIGjoA744ROzeizoDz7ZeNKPOnbWWqcc4kbxFeFDIfMWR5MOZtrV7hWUcSEotHRvnGnYuoyLZaLqw1dVQGEbF2Equ51NXrjCKiolXmZ6dvtzCKA58eze015dZGseR0q1fVzJzKU6UEaaezF3Hf/ZmZn7cRM0fHIFyS+jQdJsAAAAASUVORK5CYII=');
}

.piano-transition-enter-active,
.piano-transition-leave-active {
  transition: opacity 2s;
}

.piano-transition-enter-to,
.piano-transition-leave {
  opacity: 1;
}

.piano-transition-enter,
.piano-transition-leave-to {
  opacity: 0;
}

// media queries always go to the bottom

@media screen and (max-width: 1280px) {
  .logo-n-search {
    flex-flow: column;
  }
  .logo {
    height: 50px;
    margin-bottom: 20px;
  }
  .search {
    margin-left: 0;
    padding-bottom: 10px;
    background-position: left top;
  }
}

@media screen and (max-width: 900px) {
  .logo-n-search-wrapper {
    bottom: auto;
    top: 0;
    left: 0;
    z-index: 2;
  }
  .slide-info {
    align-items: flex-start;
    left: 0;
    right: auto;
    text-align: left;
  }
  .search {
    min-width: auto;
    width: calc(100vw - 150px);
  }
  #map-container {
    top: 40px;
  }
}

@media screen and (max-width: 590px) {
  .listing-control {
    flex-flow: column;
    [div] {
      width: fit-content;
    }
  }
  .submit-piano {
    margin-right: 0;
  }
  .icon-left {
    background-image: none;
    padding-left: 0;
  }
}
